

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://res.cloudinary.com/dlwurkglp/image/upload/v1685021249/Colored_Patterns_lncvvd.svg");
}